body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: rgb(222, 126, 93);
    height: 100vh;
    justify-content: space-between;
}

header, footer {
    background-color: #282c34;
    color: rgb(226, 223, 210);
    width: 100%;
    text-align: center;
    padding: 10px 0;
}

header h1, footer p {
    margin: 0;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    justify-content: center;
}

.game-mode {
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    margin: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

button:hover {
    opacity: 0.9;
}

.game-board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 5px;
    margin-bottom: 20px;
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    border: 1px solid #ccc;
    font-size: 2em;
    cursor: pointer;
}

.status {
    margin-bottom: 20px;
    font-size: 1.2em;
    color: #333;
}
